* {
    margin: 0;
    padding: 0;
}    

body {
    background: linear-gradient(rgba(0, 0, 0, .89),
                                rgba(252, 252, 252, 0)
                                ),   
                url("images/dark_texture/black_thread.png");
    background-repeat: repeat;
}

body,
html {
    margin: 0;
}

footer {
    color: white;
    background: black;
    text-align: center;
    width: 100%;
    z-index: 100;

}

#content-head {
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2em;
    padding-top: 4em;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(152, 152, 153);
    width: 100%;
}

#content-1,
#content-2,
#content-3 {
    background: url("images/light_texture/linen.png");
    color: black;
    font-size: 1em;
    height: 300px;
    margin-bottom: 20px;
    padding: 1em;
    width: 90%;
}

#footer-container {
    background: black;
    height: 100px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
}

#header-container {
    background: url("images/light_texture/linen.png");
    color: black;
    height: 50vh;
    margin-top: 70px;

}

#header-div {
    height: 50vh;
    margin: 70px;
}

#icon {
    width: 40px;
    height: auto;
}

/* in mobile, items will be in a vertical column*/
#main-container {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
    width: 80%;
}

#navigation {
    background: white;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
}


#tiny-header {
    color: black;
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 0;
}


/*

|| MEDIA QUERIES ||

*/

@media(min-width: 800px) {

    body {
        background: linear-gradient(rgba(0, 0, 0, 0.89),
                                    rgba(252, 252, 252, 0),
                                    ),   
                    url("images/dark_texture/black_thread.png");
        background-repeat: repeat;
    }

    /* in desktop, items will be in a horizontal row*/

    #content-1,
    #content-2,
    #content-3 {
        font-size: 1em;
        height: 200px;
        padding: 2em;
        width: 25%;
}

    #main-container {
        flex-direction: row;
        /*this height resolves floating footer*/
        height: 65vh;
    }

}
