* {
    margin: 0;
    padding: 0;
}    

body {
    background: url("images/light_texture/linen.png");
}

body,
html {
    margin: 0;
    height: 100%;
}

footer {
    color: white;
    background: transparent;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    z-index: 100;

}

p {
    line-height: 2em;
    height: 100%;
    margin-top: 2px;
}

.header-text,
.header-2-text {
    
}

.header-text {
    font-size: 40px;
    font-family: 'Megrim', cursive;
    font-weight: bold;
    letter-spacing: 12px;
    text-shadow: 2px 1px 1px rgb(152, 152, 153);
}

.header-2-text {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 50px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px rgb(152, 152, 153);
}

/*ARROW ANIMATION*/
  .arrow{
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  .arrow span{
      display: block;
      width: 30px;
      height: 30px;
      border-bottom: 5px solid black;
      border-right: 5px solid black;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;
  }
  .arrow span:nth-child(2){
      animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
      animation-delay: -0.4s;
  }
  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(45deg) translate(20px,20px);
      }
  }
/* END ARROW ANIMATION*/

#content-head {
    color: black;
    font-size: 2em;
    padding-top: 4em;
    text-align: center;
    width: 100%;
}

#content-1 {
    background: transparent;
    color: black;
    height: 100%;
    margin: auto;
    width: 100%;
}


#footer-container {
    background: url("images/dark_texture/dark_geometric.png");
    height: 100px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
}

#header-container {
    background: url("images/light_texture/linen.png");
    color: black;
    height: 100vh;
    margin-top: 70px;

}

#header-div {
    height: 50vh;
    margin: 70px;
}

#icon {
    width: 40px;
    height: auto;
}

#img-container {
    background: linear-gradient(rgba(0, 0, 0, 0.89),
                                rgba(0, 0, 0, 0)
                                ),
                url("images/mushroom.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    width: 300px;

}

/* in mobile, items will be in a vertical column*/
#main-container {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 40px;
    text-align: justify;
    width: 90%;

}

#navigation {
    background: white;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 110;
}


#tiny-header {
    color: black;
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 0;
}


/*

|| MEDIA QUERIES ||

*/

@media(min-width: 800px) {

    body {
        background: linear-gradient(rgba(0, 0, 0, 0.89),
                                    rgba(252, 252, 252, 0),
                                    ),   
                    url("images/light_texture/linen.png");
        background-repeat: repeat;
    }

    p {
        padding-left: 20px;
    }

    .header-text {
        font-size: 60px;
        font-family: 'Megrim', cursive;
        font-weight: bold;
        letter-spacing: 20px;
        text-shadow: 2px 1px 1px rgb(152, 152, 153);
    }
    
    .header-2-text {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 25px;
        font-weight: lighter;
        margin-top: 30px;
        letter-spacing: 5px;
        text-shadow: 1px 1px 1px rgb(152, 152, 153);
    }

    /*  in desktop, items will be in a horizontal row
        creates white line to left of text in desktop
    */

    #content-1 {
        border-top: none;
        border-left: 1px solid black;
        font-size: 1em;
        height: 60%;
        margin-left: 250px;
        padding-left: 20px;
        width: 50%;
    }

    #main-container {
        flex-direction: row;
        border: none; /*removes line from top*/
        /*this height resolves floating footer*/
        height: 70vh;
        justify-content: space-between;
    }

}
